.pding {
    padding: 130px 0px 0px 50px;
}

.buttonIniciarSesion {
    width: 150px;
    height: 45px;
}

.divIniciar {
    margin-right: 15px;
}

.formMain {
    flex-direction: column;
    margin: 15px 10px 5px 10px;
    transition: height 1.5s ease;

}

.divForm {
    height: 280px;
    border: solid 2px rgb(75, 38, 14);
    border-radius: 4%;

}

@keyframes mostrarForm {
    0% {
        .divForm {
            height: 0px;
        }
    }

    100% {
        .divForm {
            height: 270px;
        }

        .formMain {
            visibility: visible;
        }
    }
}